@import url("https://fonts.googleapis.com/css?family=Roboto|Russo+One");
/*  font-family: 'Roboto', sans-serif;
    font-family: 'Russo One', sans-serif;
*/
h1, h2, h3 {
  font-family: 'Russo One', sans-serif;
  color: #FF4136; }

.container-fluid {
  overflow: auto;
  background-color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.6;
  color: black; }

.nav {
  background-color: #212121; }

.nav-item {
  width: 100%;
  text-align: center;
  font-family: 'Russo One', sans-serif; }
  .nav-item .nav-link {
    color: #FF4136; }
    .nav-item .nav-link:hover {
      color: white; }

.fork-me {
  position: relative;
  float: right;
  top: 0;
  right: 0; }

.jumbotron-fluid {
  overflow: auto;
  background: url("../images/tanya2.jpg") no-repeat center center;
  padding: 0;
  color: black;
  height: 35em;
  background-size: cover; }
  .jumbotron-fluid .soviet-image {
    text-align: center;
    margin-top: 9em; }
  .jumbotron-fluid .display-3 {
    text-align: center;
    font-size: 2.3em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    padding-bottom: 1em;
    color: white; }
  .jumbotron-fluid .lead {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    font-size: 1.2em;
    color: white; }

.os-section {
  margin-top: 5em;
  margin-bottom: 5em; }

.operating-systems {
  padding: 0;
  text-align: center;
  margin-top: 3em;
  margin-bottom: 3em; }
  .operating-systems li {
    list-style-type: none; }
    .operating-systems li a img {
      display: inline; }

.tab {
  display: none; }

.logo {
  margin: 1em; }

.download-section button {
  background-color: #2ecc71;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  border: 1px solid black;
  box-shadow: 2px 2px 5px black;
  margin: 1em; }
  .download-section button:hover {
    color: #212121; }

.social-h2 {
  text-align: center;
  font-size: 1.5em; }

.social-media {
  text-align: center;
  padding: 0;
  margin-top: 3em; }
  .social-media ul {
    margin: 0; }
  .social-media li {
    display: block; }

.circle {
  height: 60px;
  width: 60px;
  background-color: #FF4136;
  border-radius: 50%;
  line-height: 60px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  margin: .5em; }
  .circle a {
    color: black; }
  .circle i {
    line-height: inherit; }
    .circle i:hover {
      color: white; }

.footer {
  background-color: #212121;
  height: auto; }
  .footer p {
    text-align: center;
    color: white;
    margin: 1em; }

@media screen and (min-width: 900px) {
  .nav {
    display: inline-block;
    text-align: center; }

  .nav-item {
    display: inline;
    font-size: 1.2em; }

  .nav-link {
    display: inline; }

  .os-section {
    margin-bottom: 20em; }

  .operating-systems li {
    list-style-type: none;
    display: inline; }
    .operating-systems li a img {
      display: inline-block; }

  .tab {
    display: none; }

  .logo {
    margin: .5em; }

  .social-media li {
    display: inline;
    margin: .5em; } }

/*# sourceMappingURL=download.css.map */
